<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--FAVICON-->
    <link rel="apple-touch-icon" sizes="180x180" href="../assets/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../assets/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/favicon_io/favicon-16x16.png">
    <link rel="manifest" href="../assets/favicon_io/site.webmanifest">
    <!--ESTILOS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    
    <title>Egipto</title>
</head>
<body>
    <nav class="navbar"></nav>
    <header class="pais-header egipto">
        <div class="container pais-title-container">
            <h1 class="pais-title">Egipto</h1>
        </div>
    </header>
    <main class="container">
        <p class="pais-descripcion">Un enigmático tesoro de riquezas arqueológicas y culturales casi inimaginables, es difícil no pensar en Egipto sin imaginar la Esfinge, las pirámides de Giza, Luxor, el Valle de los Reyes y el Nilo. Además de ser el museo al aire libre más grande del mundo, Egipto también ofrece una gran cantidad de lujosos resorts en el Mar Rojo, muchos de ellos al alcance de espectaculares esnórquel, buceo y windsurf. Ya sea que lo vea en un barco fluvial, a lomos de un camello o justo encima del coral, las vistas de Egipto son inolvidables.</p>        
        <section class="pais-lugares-container">
            <div class="container">
                <div class="lugares-titulo">
                    <h3 class="titulo-seccion-pais">Lugares para visitar</h3>   
                </div> 
    
                <div class="pais-lugares cards-lg-container"></div>     
            </div>
        </section>
        <section class="pais-actividades-container">
            <header class="actividad-titulo">
                <h3 class="titulo-seccion-pais">Actividades</h3>
                <p>Lugares para ir, experiencias y actividades que no te pueden faltar</p>
            </header>
            <div class="cards-md-container pais-actividades"></div>
        </section>
            <section class="pais-alojamiento-container">
                <header class="alojamiento-titulo">
                    <h3 class="titulo-seccion-pais">Alojamientos</h3>
                    <p>Hoteles recomendados por cercanía</p>
                </header>
                <div class="cards-md-container pais-alojamiento"></div>
            </section>
    
       


    </main>
    <footer class="footer"></footer>

    <script src="../js/navbar.js"></script>
    <script src="../js/egipto.js"></script>
    <script src="../js/footer.js"></script>
</body>
</html>