<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--FAVICON-->
        <link rel="apple-touch-icon" sizes="180x180" href="../assets/favicon_io/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../assets/favicon_io/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../assets/favicon_io/favicon-16x16.png">
        <link rel="manifest" href="../assets/favicon_io/site.webmanifest">
        <!--ESTILOS-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Estados Unidos</title>
</head>
<body>
    <nav class="navbar"></nav>
    <header class="pais_encabezado_eeuu estadosUnidos">
        <div class="container titulo-pais-container">
            <h1 class="pais-title">Estados Unidos</h1>
        </div>
    </header>
    <main class="container">
        <p class="pais-descripcion">Los Estados Unidos es el <strong>tercer país más grande del mundo</strong> en cuanto a su población y el cuarto más grande en superficie. Está compuesto por 50 estados cuya capital es Washington distrito federal, D.F.
            El país es uno de los más avanzados en los campos de la economía, la ciencia, la tecnología de información, la medicina, la política, y el ocio.
            EEs
            Además, el destino es multicultural, ya que allá viven muchos nativos y personas de diferentes partes del mundo. También podés encontrar muchos parques, museos, vida nocturna, amplia oferta de restaurantes y tiendas para salir de compras. Así que vale la pena visitar Estados Unidos
            Esta compuesto por 50 estados</p>        
        <section class="pais-lugares-container">
            <div class="container">
                <div class="lugares-titulo">
                    <h3 class="titulo-seccion-pais">Lugares para visitar</h3>   
                </div> 
    
                <div class="pais-lugares cards-lg-container"></div>     
            </div>
        </section>
        <section class="pais-actividades-container">
            <header class="actividad-titulo">
                <h3 class="titulo-seccion-pais">Actividades</h3>
                <p>Lugares para ir, experiencias y actividades que no te pueden faltar</p>
            </header>
            <div class="cards-md-container pais-actividades"></div>
        </section>
        <section class="pais-alojamiento-container">
            <header class="alojamiento-titulo">
                <h3 class="titulo-seccion-pais">Alojamientos</h3>
                <p>Hoteles recomendados por cercanía</p>
            </header>
            <div class="cards-md-container pais-alojamiento"></div>
        </section>

     </main>
     <footer class="footer">
        <favicon class="foot" src="../assets/favicon_io/favicon-32x32.png"></favicon>
     </footer>
     

    <script src="../js/navbar.js"></script>
    <script src="../js/estadosUnidos.js"></script>
    <script src="../js/footer.js"></script>
</body>
</html>