<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!--FAVICON-->
     <link rel="apple-touch-icon" sizes="180x180" href="../assets/favicon_io/apple-touch-icon.png">
     <link rel="icon" type="image/png" sizes="32x32" href="../assets/favicon_io/favicon-32x32.png">
     <link rel="icon" type="image/png" sizes="16x16" href="../assets/favicon_io/favicon-16x16.png">
     <link rel="manifest" href="../assets/favicon_io/site.webmanifest">
     <!--ESTILOS-->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Registro</title>
</head>
<body>
    <nav class="navbar"></nav>
    <main class="main-formulario">
        <h2 class="titulo-form">¡REGISTRATE!</h2>
        <p class="parraf">Vas a poder armar todo tu viaje, guardar en favoritos, recibir descuetos exclusivos y más...</p>
   
        <section class="registrarse">
            <form id="form" action="" method="get">
                <label class="tag">Nombre:    </label>
                <input class="controls" type="text" id="nombre" placeholder="Ingrese su nombre.." name="nombre">
                    <label class="tag">Apellido: </label>
                    <input class="controls" type="text" id="apellido" placeholder="Ingrese su apellido..." name="apellido">
                
                    <label class="tag">Email:     </label>
                    <input class="controls" type="email" id="mail" name="mail" placeholder="Ingrese su email...">

                    <label class="tag">Contraseña: </label>
                    <input  class="controls" type="password"  id="password" placeholder="Ingrese su contraseña.." name="password">

                    <label class="tag">Contraseña: </label></li>
                    <input class="controls" type="password" id="password" placeholder="Ingrese nuevamente su contraseña..." name="password">
    
                    <input class="botton btn-cancelar" type="submit" id="submit" value="Cancelar"> 
                    <input class="botton btn-aceptar" type="submit" id="submit" value="Registrarse">
            
                    <p> <a href="#">¿Ya tengo cuenta?</a></p>
            </form>
        </section>
        
        
       

    </main>
<footer class="footer"></footer>


<!-- ARCHIVOS JS -->
<script src="../js/navbar.js"></script>
<script src="../js/registro.js"></script>
<script src="../js/footer.js"></script>
</body>
</html>